<h1>Frequently Asked Questions</h1>
<div class = "container well">

<% @questions.each do |question| %>
	<%= render :partial =>'show', :locals => {:question => question} %>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path if can? :create, :questions%>

</div>