<h1>Tipping Point Workspace</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
<% @users.each do |user| %>
	<td><%= user.name %></td>
	<td><%= user.email %></td>

<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
