<% provide(:title, "FAQ") %>
<% provide(:title, "FAQ") %>
<h1>Frequently Asked Questions</h1>
<div class="well">

	<h3>Where are the bathrooms?</h3>
	<p>There are 4:
	Men's room is directly outside the door from reception, to the left
	Women's room is outside the door from reception, half-way down the hall, in an alcove between the freight and passenger elevators
	Accessible bathroom is adjacent to the Women's room
	A Guest bathroom is located between the Kitchen and the Large Conference Room</p>
	
	<h3>How do I get into the bathrooms?</h3>
	<p>Men: punch code 3-4-5 in on the keypad on the bathroom door handle - voilá
	Women & Accessible bathrooms: there are keys (for each) at reception, hanging up directly next to the mailboxes for you to use anytime, no permission required from the teacher!</p>
	
	<h3>Oops, I left the key in the bathroom - do I need to break down the door?</h3>
	<p>Not cause to panic - there is more than one key to each bathroom, so you should be able to grab the other key and retrieve the lost one. The other key failing to appear readily, let reception or Amanda know, and a rescue mission will be set in motion.</p>
	
	<h3>I was just in the bathroom (or kitchen), and there was no soap/ paper towels/ toilet paper/ light/ air conditioning/ water/ disco ball/ etc. How does that get fixed?</h3>
	<p>Any and all missing or lacking items and amenities should be reported to reception and Amanda, and we will raise the appropriate alarms to remedy the problem as soon as possible - usually immediately in the case of soap or paper goods.</p>
	
	<h3>What an amazing kitchen, replete with coffee, tea, and sundry beverage items! What is for public consumption?</h3>
	<p>Coffee (generally Peet's), tea (PG Tips), milk (the full range), and an array of sweeteners are all for everyone's enjoyment and use, so caffeinate away!</p>
	
	<h3>I keep seeing this huge array of food and beverages every Monday morning, and people consuming it, and it looks really good; am I allowed to partake?</h3>
	<p>Yes! Every Monday morning (with the exception of major Monday holidays, of course) we lay out a big breakfast spread as a nice welcome back from the weekend for the whole workspace. You (workspace resident or guest of resident) should absolutely join us, meet your neighbors, engage in a little office banter around the pile of bagels or the pot of coffee, and kick off your week the right way. </p>
	
	<h3>How does coffee appear?</h3>
	<p>Everything in the kitchen is a community resource - everyone participates, so everyone can (and should) make more coffee when a pot gets emptied. If you are nervous, uncomfortable or just totally unfamiliar with the process of making a pot of coffee, Amanda will happily host tutorial sessions - just ask! </p>
	
	<h3>Sink vs. Dishwasher?</h3>
	<p>see flowchart</p>
	
	<h3>How much of my own stuff can I keep in that small refrigerator? </h3>
	<p>The refrigerator is big enough for us to keep all the milk and breakfast food (for Mondays), as well as for anyone to keep their lunch in there that needs it. Not your lunch for the next 2 weeks, more like that days meal, maybe tomorrows.</p>
	
	<h3>I think I had a batch of vegetables/ fruit/ chili/ greasy leaky leftovers/ unidentifiable food in the fridge at some point in the last 3 weeks, and now I can't find it - where could it have gone?</h3>
	<p>Every Friday, when the groceries arrive for the Monday breakfast, the refrigerator gets thoroughly purged, both in order to make room for that food, as well as to prevent any new life forms from cropping up. Anything that has been in there since the previous Friday goes, unless properly labeled, or that comes with a reliable expiration date.
	</p>
	
	<h3>I have a meeting, how do I get a conference room?</h3>
	<p>First, you need email permission in the google calendars that represent the 3 different conference rooms that we have - 701, the Large "L", and the Small "K" conference rooms. For that, Amanda will invite anyone that needs/ wants access. Once you have that, you can view what is available and when, and reserve the room that you need by simply creating a calendar event within that room's calendar with your group's name in it. Coming soon, a better, unified conference room calendaring system...</p>
	
	<h3>Where are all these rooms for conferencing?</h3>
	<p>see map</p>
	
	<h3>Comfy looking couches! Any rules there?</h3>
	<p>Nope - part of the common space, they are for everyone's use and enjoyment, and fall into the same category as any other common resource, meaning: we all use it, so we all take good care of it!</p>
	
	<h3>Where is my mail?</h3>
	<p>Directly next to the reception desk is a nifty array of cubbies, neatly labeled with your company's name, where all of your mail/ small packages will always await you. If you receive something oddly large, it will be in that general area as well, so ask at reception, and we will be sure to tell you which is your new poster print of David Hasselhoff.</p>
	
	<h3>I love the internet! How can I use that here?</h3>
	<p>well, good on you for navigating to this page somehow!
		You are in luck! We have quite a bit of internet here - a 100x100 fiber connection, in fact.
		Just one singular admonition: this is yet another community resource, and everyone should treat it as such (ie: avoid downloading giant bit torrents files all day, while streaming hours of video and music on 8 personal devices, sucking up all the available bandwidth, leaving everyone else without email - it won't really endear you greatly to your neighbors)
		You can either connect using an ethernet cord to connect to the port in the wall (at least one in every office), or you can get on the wifi. For the general crowd, the network to use is TippingPoint with the password cr1t1cal. You can share that with all of your guests and clients who come to visit as well - we like sharing.</p>
		
		<h3>How does that printer/scanner/copier thing work?</h3>
		<p>Check out these instructions on how to properly set your computer up to print: for Mac, for Windows
		Following those instructions to the letter, all the way through to the part about your job accounting code, you should be set to print! If you have any problems whatsoever, poke your head over at reception or email Amanda, and we'll square you away in no time. REMEMBER: color pages cost $.09, black and white are free, so make your selections accurately.</p>
		
		<h3>The front door locks, and so does my office, how do I get past those?</h3>
		<p>Front door = individual keycards, as assigned by Amanda to a specific individual once requested/ upon move-in. 
		Offices = old-school metal keys, office-specific, also come from Amanda, and will come with your office/ your starting here at the space.
		*For any new additions to your teams as your tenure extends at the space, you just need to email Amanda with that individual's full name + email address to get them their keys ASAP. Better yet - when you know they are joining you in the near future, email with enough time to have their keys ready before they start!</p>
		
		<h3>I have a lunch/ dinner/ drinks meeting - anywhere good around here? Whats the haps?</h3>
		<p>Tribeca is packed with great go-to locations for all business and not-so-business-related meal-themed outings. There are scads of apps to tell you what the masses think, and new places opening all the time, but for a handful of seriously solid stand-by locales, see this list, which complete with Art Chang's famous foodie approval</p>
		
		<h3>I recently watched  "The Towering Inferno" - do we have an emergency exit/ escape route?</h3>
		<p>Yes, indeed - the emergency exit is the staircase directly next to the passenger elevators, which blends so well in to the surrounding wall, you might have missed it! Also next to the elevators is a diagram of the building's elevator shafts and staircases, so you can better understand you exit path. We are up to date on all of our safety briefings with the Fire Department, so in the event that we need to make a hasty exit, we will all be able to do so in an officially-sanctioned and orderly manner, with the guidance of our floor's designated Fire Warden and Deputy Fire Wardens.</p>
</div>
