<% provide(:title, "Home") %>
<h1>Welcome <%= name(@user) %>!</h1>

<% unless @user.phone %>
	<p>It appears you haven't provided your phone number. If you would like to, just <%= link_to "edit your profile", edit_user_path(@user) %></p>
<% end  %>
