<% provide(:title, "Home") %>
<h1>Welcome <%= name(@user) %>!</h1>



<div id="companiesCarousel" class="carousel slide">
	<!-- Carousel Items-->

	<div class="carousel-inner">		
			<div class="active item"><%=image_tag @myCompany.avatar.url %></div>
			<% @companies.each do |company| %>
			<div class ="item"><%= image_tag company.avatar.url %></div>
			<% end %>		
	</div>
	<!-- Carousel nav-->
	<a class="carousel-control left" href="#companiesCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#companiesCarousel" data-slide="next">&rsaquo;</a>
</div>
